{% for blocks in section.blocks %}
<div class="acc_main">
  <button class="acc_content accordion accordion_returns_exchanges"><p>{{blocks.settings.acc_qus}}</p></button>
  <div class="acc_panel panel">
    <p>{{blocks.settings.acc_ans}}</p>
  </div>
</div>
{% endfor %}
{% schema %}
  {
    "name": "Returns Exchanges",
    "settings": [], 
     "blocks":[
      { 
        "type":"text",
        "name":"Accordion",  
         "settings": [
          {
            "type":"text",
             "id" : "acc_qus",
             "label":"Add Qus"
          }, 
          {
            "type":"richtext",
             "id" : "acc_ans",
             "label":"Add Ans"
          } 


         ]
       }
     ],
    "presets":[
      {
        "name":"Returns Exchanges"
      }

   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
